body {
  margin: 0;
  padding: 0;
  display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  padding-left: 1rem;
  padding-right: 1rem;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

.stickRight {
  float: right;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-left: 9%;
  padding-right: 9%;
  margin-top: 10%;
}

#playButton {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

#playButton:hover {
  background-color: #2980b9;
}
